<!DOCTYPE html>
<html lang="en">

<head>
    {{>head_index}}
</head>

<body>
    {{>navbar}}

    <section class="hero-banner">
        <img src="images/hero-banner img.jpg">
        <div class="banner-headline">
            <h3> Create your quiz, deploy and see the real-time scores of their answers!</h3>
            <h4>In this innovative age of information, it is time to put the highest potential of our technology in
                aspect of learning and data gathering. And now we give you QuizPoint!</h4>
            <h6>
                — Ananta Subedi & Adriana Dela Cruz <i>(QuizPoint Developers)</i>
            </h6>
        </div>
    </section>





</body>

</html>