<!DOCTYPE html>
<html lang="en">

<head>
    {{>head_joinroom}}
</head>

<body>
    {{>navbar}}

    <section class="bg">
        <div class="threefields-info">
            <a class="threefieldsinfo-box" href="quizmaker_signin">
                <img src="/images/Quizmaker Button Overlay.png" alt="Join room as Quiz Maker">
                <p> Join room by signing in to your account as a QuizMaker.
                    Build, create and design your own quiz and deploy it.
                    Act as a host in real-time to the players according to your time limit.
                    Click to continue.</p>
            </a>
            <a class="threefieldsinfo-box" href="player_signin">
                <img src="/images/Player Button Overlay.png" alt="Join room as Player">
                <p> Join room as a Player.
                    Enter the Quiz room through link and provide your name to be part of the room.
                    Answer the quiz questions and be on the top of the scoreboard among your peers.
                    Click to continue.</p>
            </a>
            <a class="threefieldsinfo-box" href="spectator_signin">
                <img src="/images/Spectator Button Overlay.png" alt="Join room as Spectator">
                <p> Join room as the Spectator.
                    Enter the room through link and be the audience of a quiz arena in real-time.
                    Be able to view the scoreboard and the room's interactivity throughout the quiz time limit.
                    Click to continue.</p>
            </a>
        </div>


    </section>

</body>

</html>