<!DOCTYPE html>
<html lang="en">

<head>
  {{>head_signup}}
</head>

<body>
  {{>navbar}}

  <section class="bg">
    <div class="signup-pg">
      <form>
        <h1> Sign Up </h1>
        <div class="su-inputboxes">
          <div class="su-inputbox">
            {{!-- <i class="fas fa-user"></i> --}}
            <input type="text" name="firstName" placeholder="First Name" required>
          </div>
          <div class="su-inputbox">
            {{!-- <i class="fas fa-user"></i> --}}
            <input type="text" name="lastName" placeholder="Last Name" required>
          </div>
          <div class="su-inputbox">
            {{!-- <i class="fas fa-star"></i> --}}
            <input type="text" name="userName" placeholder="Username" required>
          </div>
          <div class="su-inputbox">
            {{!-- <i class="fas fa-lock"></i> --}}
            <input type="password" name="password" placeholder="Password" required>
          </div>
          <div class="button su-submit">
            <input type="submit" value="Sign Up">
          </div>
          <p class="message-registration"> You are registered!</p>          
        </div>
      </form>
    </div>
  </section>

</body>

</html>