<!DOCTYPE html>
<html lang="en">

<head>
    {{>head_signup}}
</head>

<body>
   {{>navbar}}

    <section class="hero-banner">
        <!-- <img src="images/hero-banner img.jpg"> -->
        <div class="SU-Form">
                <div class="forms">
                    <!-- <div class="form-content">
                      <div class="login-form">
                        <div class="title">Login</div>
                      <form action="#">
                        <div class="input-boxes">
                          <div class="input-box">
                            <i class="fas fa-envelope"></i>
                            <input type="text" placeholder="Enter your email" required>
                          </div>
                          <div class="input-box">
                            <i class="fas fa-lock"></i>
                            <input type="password" placeholder="Enter your password" required>
                          </div>
                          <div class="text"><a href="#">Forgot password?</a></div>
                          <div class="button input-box">
                            <input type="submit" value="Sumbit">
                          </div>
                          <div class="text sign-up-text">Don't have an account? <label for="flip">Sigup now</label></div>
                        </div>
                        </form>
                     </div>
                    </div> -->
                    <div class="signup-form">
                      <div class="title">Signup</div>
                    <form action="/api/signup" method="POST">
                        <div class="input-boxes">
                          <div class="input-box">
                            <i class="fas fa-user"></i>
                            <input type="text" name="name" placeholder="Enter your name" required>
                          </div>
                          <div class="input-box">
                            <i class="fas fa-star"></i>
                            <input type="text" name="userName" placeholder="Enter your username" required>
                          </div>
                          <div class="input-box">
                            <i class="fas fa-lock"></i>
                            <input type="password" name="password" placeholder="Enter your password" required>
                          </div>
                          <div class="button input-box">
                            <input type="submit" value="Sumbit">
                          </div>
                          <div class="text sign-up-text">Already have an account?</div>
                          <a href="#">
                              Login now 
                          </a>
                        </div>
                  </form>
                </div>
              </div>
            
        </div>
    </section>





</body>

</html>