<!DOCTYPE html>
<html lang="en">

<head>
    {{>head_joinroom}}
</head>

<body>
    <div class="threefields-btn">
        <a href="quizmaker_signin"> <img src="/images/Quizmaker Button .png" alt="Join room as Quiz Maker"> </a>
        <a href="player_signin"> <img src="/images/Player Button Overlay.png" alt="Join room as Player"> </a>
        <a href="spectator_signin"> <img src="/images/Spectator Button Overlay.png" alt="Join room as Spectator"> </a>
    </div>

    <div class="threefields-btn-overlay">
        {{!-- <a href="quizmaker_signin"> <img src="/images/Quizmaker Button Overlay.png" alt="Join room as Quiz Maker">
        </a> --}}
        {{!-- <a href="quizmaker_signin"> <img src="/images/Quizmaker Button Overlay.png" alt="Join room as Quiz Maker">
        </a>
        <a href="quizmaker_signin"> <img src="/images/Quizmaker Button Overlay.png" alt="Join room as Quiz Maker"> </a>
        --}}
    </div>

</body>