<!DOCTYPE html>
<html lang="en">
<head>
    {{>head_index}}
</head>
<body>

<section class="nav-bar">
    <nav>
        <div class="nav-links-left">
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="sign_up">SIGN UP</a></li>

            </ul>
        </div>

        <a href="/"> <img src="images/logo2.png" alt="QuizPoint Logo"></a>

        <div class="nav-links-rght">
            <ul>
                <li><a href="#">JOIN ROOM</a></li>
                <li><a href="#">ABOUT</a></li>
            </ul>
        </div>

    </nav>
</section>
</body>
</html>