@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}

:root {
    --themeClr: #533bd6; 
    --themeClrA: #02274e;
    --themeClrB: #c2bdff;
    --NavBgColor: #04060f; 
    --mainFontFam: 'Oswald', sans-serif;
    --secFontFam:  'Yanone Kaffeesatz', sans-serif;
}


/*----------NAV BAR BEGINS HERE ------------*/

.nav-bar {
    background-image: linear-gradient(#02274e, #05060f);
  
}
nav {
    display: flex;
    padding: 0em 3em;
    justify-content: space-between;
    align-items: center;
}


/*----------NAV BAR ENDS HERE ------------*/

/*----------NAV BAR *LEFT* BEGINS HERE ------------*/
.nav-links-left {
    flex: 1; 
    text-align: center;
    
}

.nav-links-left  ul li {
    list-style: none;
    display: inline-block;
    padding: 0em 2em;
    position: relative;

}

.nav-links-left ul li a {
    text-decoration: none;
    color: var(--themeClrB) ;
    font-size: 18px;
    font-weight: 400;
    font-family: var(--mainFontFam);

}

.nav-links-left ul li a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: var(--themeClrB);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.nav-links-left a:hover:after { 
    width: 100%; 
    left: 0; 
  }

  /*THIS IS FOR HOVER FADE */
/* .nav-links-left ul li:hover {
    background-color: var(--themeClrB)
}

.nav-links-left ul li a:hover {
    color: var(--NavBgColor);
} */

/*----------NAV BAR *LOGO* BEGINS HERE ------------*/

nav img {
    width: 170px;
    align-items: center;
    transition: all .2s ease-in-out;
}

nav img:hover { transform: scale(1.1); }

/*----------NAV BAR *RIGHT* BEGINS HERE ------------*/
.nav-links-rght {
    flex: 1; 
    text-align: center;
    
}

.nav-links-rght  ul li {
    list-style: none;
    display: inline-block;
    padding: 0em 2em;
    position: relative;

}

.nav-links-rght  ul li a {
    text-decoration: none;
    color: var(--themeClrB) ;
    font-size: 18px;
    font-weight: 400;
    font-family: var(--mainFontFam);

}

.nav-links-rght ul li a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: var(--themeClrB);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.nav-links-rght a:hover:after { 
    width: 100%; 
    left: 0; 
  }


/*----------NAV BAR ENDS HERE ------------*/

/*----------SIGN UP PAGE BEGINS HERE ------------*/

.bg {
    font-family: 'Montserrat', sans-serif;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(137deg, #3a16c0 0%, #e31515 100%); 
}

.signup-pg {
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}

form {
    background: $white;
    padding: 3em;
    height: 470px;
    width: 500px;
    border-radius: 20px;
    border-left: 1px solid $white;
    border-top: 1px solid $white;
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    text-align: center;
    position: relative;
    transition: all 0.2s ease-in-out;
}

h1 {
    font-weight: 500;
    color: #fff;
    opacity: 0.7;
    font-size: 1.4rem;
    margin-top: 0;
    margin-bottom: 15px;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    }

  a {
    text-decoration: none;
    color: #ddd;
    font-size: 12px;
    }
  
input {
    background: transparent;
    width: 350px;
    padding: 1em;
    margin-bottom: 1em;
    border: none;
    border-left: 1px solid $white;
    border-top: 1px solid $white;
    border-radius: 5000px;
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0,0,0,0.2);
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2)
    }

.su-submit input[type="button"],
.su-submit input[type="submit"] {
    cursor: pointer;
}

::placeholder {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}

h4 {
    font-family: Montserrat, sans-serif;
    color: #fff;
}


.message-registration{
    font-family: Montserrat, sans-serif;
    color: #fff;
}